.containerConta {
    width: 30%;
}

.perfilCard {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 2em;
}

.containerPerfilCard {
    flex: 1;
}

.cardInterno {
    padding: 1em;
}

.contaTitulo {
    font-weight: 500;
}

.subtituloConta {
    color: #848484;
    font-weight: 500;
}

.tituloConta {
    font-weight: 500;
}

.nomePerfil {
    font-weight: 500;
    font-size: 2.3em;
}

.botaoEditar {
    background-color: #fff;
    border: none;
    color: #A50702;
}

.botoesPerfil {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.botao {
    padding: 7px 60px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.salvar {
    background-color: #A50702;
    color: #fff;
}

.descartar {
    background-color: #C5C5C5;
    color: #5C5C5C;
}

.grupoInputIcon {
    display: inline-block;
    position: relative;
    flex: 1;
}

.inputIcon {
    padding-right: 40px;
    width: 100%;
    box-sizing: border-box;
    box-sizing: border-box;
    background-color: #E6E6E6;
    border: none;
    padding: 1em 1em;
    border-radius: 8px;
    outline: none;
}

.iconDoInput {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #8a8a8a;
    pointer-events: none;
}