.containerConta {
    width: 25em;
}

.perfilCard {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 2em;
}

.containerPerfilCard {
    flex: 1;
}


.contaTitulo {
    font-weight: 500;
}

.subtituloConta {
    color: #848484;
    font-weight: 400;
    margin: 0;
    font-size: 0.75em;
}

.tituloConta {
    font-weight: 500;
    margin: 0;
    font-size: 0.85em;
}

.nomePerfil {
    font-weight: 500;
    font-size: 2.3em;
}

.botaoEditar {
    background-color: #fff;
    border: none;
    color: #A50702;
}

.botoesPerfil {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.botao {
    padding: 7px 60px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.salvar {
    background-color: #A50702;
    color: #fff;
}

.descartar {
    background-color: #C5C5C5;
    color: #5C5C5C;
}

.grupoInputIcon {
    display: inline-block;
    position: relative;
    flex: 1;
}

.inputIcon {
    padding-right: 40px;
    width: 100%;
    box-sizing: border-box;
    box-sizing: border-box;
    background-color: #E6E6E6;
    border: none;
    padding: 1em 1em;
    border-radius: 8px;
    outline: none;
}

.iconDoInput {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #8a8a8a;
    pointer-events: none;
}

.btnPerfil {
    background-color: #f0f0f0;
    border-radius: 8px;
    border: none;
    color: #A50702;
    padding: 0.4em 2em;
    cursor: pointer;
    margin-top: 1.8em;
}

.equipePerfil {
    color: #909090;
    font-size: 1em;
    margin: 0;
}

.nomeUser {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
}

.headerInfo {
    margin-bottom: 2.5em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}

.fotoPerfil {
    height: 11em;
    width: 11em;
    border-radius: 50%;
    object-fit: cover;
}

.editarFotoBtn {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #A50702;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    height: 3.5em;
    width: 3.5em;
    align-items: center;
    justify-content: center;
}


.opcaoConta {
    display: flex;
    gap: 0.8em;
    align-items: center;
    cursor: pointer;
}