.equipeAtual {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.nomeEquipeAtual {
    font-size: 1em;
}

.descricaoEquipeAtual {
    font-size: 0.9em;
    color: #8B8686;
}

.quantMembrosEquipeAtual {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
}

.nomeMembro {
    font-weight: 500;
    margin: 0;
    font-size: 1em;
}

.cargoMembro {
    font-size: 0.6em;
    font-weight: 400;
    margin: 0;
}

.emailMembro {
    font-size: 0.8em;
    margin: 0;
}

.btn {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #CE221E;
    color: #fff;
    width: 14em;
}

.labelAddMembro {
    font-size: 1em;
}

.inputAdd {
    box-sizing: border-box;
    background-color: #E6E6E6;
    border: none;
    padding: 1em 1em;
    border-radius: 8px;
    outline: none;
    /* height: 3em; */
}

.inputAdd::placeholder  {
    font-family: 'Poppins';
    color: #9c9c9c;
}

.inputAddMembro {
    display: flex;
    width: 22em;
    height: 3em;
}

.grupoInputLabel {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 1;
}

.inputAddDescricao {
    resize: none;
}

.descricaoEquipe {
    font-size: 0.9em;
    color: #8B8686;
    overflow-wrap: break-word;
    margin: 0;
    padding-left: 1em;
}

.circuloEquipe {
    padding: 1em;
    border-radius: 50%;
}