.containerGeralHome {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
}

.containerHome {
  box-sizing: border-box;
  background-color: #e8e8e8;
  padding: 3em;
  border-top-left-radius: 2.5em;
  /* height: 100vh; */
  flex: 1;
  /* width: auto; */
  margin-top: 2em;
}

.containerSidebarHome {
    padding: 20px;
    box-sizing: border-box;
} 