.containerLogin {
    background-image: url("../assets/img/background-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* width: 100%; */
    /* background-attachment: fixed; */
}

.cardLogin {
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
    padding: 20;
    align-items: center;
    justify-content: center;
}