.atividades-container {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.icon-ativ-recente {
  background-color: #c7ffdd;
  border-radius: 50%;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ativ-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 4px;
}

.ativ-info-titulo {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.ativ-info-subtitulo {
  font-size: 12px;
  color: #848484;
  margin: 0;
}
