.equipeAtual {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.nomeEquipeAtual {
    font-size: 1em;
}

.descricaoEquipeAtual {
    font-size: 0.9em;
    color: #8B8686;
}

.quantMembrosEquipeAtual {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
}

.nomeMembro {
    font-weight: 500;
    margin: 0;
    font-size: 1em;
}

.cargoMembro {
    font-size: 0.6em;
    font-weight: 400;
    margin: 0;
}

.emailMembro {
    font-size: 0.8em;
    margin: 0;
}

.labelAddMembro {
    font-size: 1em;
}

.inputAddMembro {
    display: flex;
    width: 22em;
    height: 3em;
    font-family: "poppins";
}

.grupoInputLabel {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 1;
}

.descricaoEquipe {
    font-size: 0.9em;
    color: #8B8686;
    overflow-wrap: break-word;
    margin: 0;
    padding-left: 1em;
}

.circuloEquipe {
    padding: 1em;
    border-radius: 50%;
}