.listaPrivacidade li {
    list-style: decimal;
    text-align: justify;
    padding-bottom: 0.5em;
}

.tituloCardProtegido {
    color: #44B67A;
    margin: 0;
}

.subtituloCardProtegido {
    color: #969696;
    font-size: 0.85em;
    font-weight: 500;
    margin: 0;
}

.tituloCardDicas {
    font-weight: 500;
    margin: 0;
}

.listaDicas {
    color: #969696;
    margin: 0;
}

.tituloPequenoPrivacidade {
    font-weight: 500;
    color: #5E5E5E;
    margin: 0;
    margin-bottom: 1.5em;
}

.inputContainer {
    position: relative;
    width: 100%;
}

.inputAddPrivacidade {
    width: 100%;
    font-size: 15px;
    height: 45px;
    box-sizing: border-box;
    background-color: #E6E6E6;
    border: none;
    padding: 1em 1em;
    border-radius: 8px;
    outline: none;
    font-family: "poppins";
}

.eyeIcon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}