.listaPrivacidade li {
    list-style: decimal;
    text-align: justify;
    padding-bottom: 0.5em;
}

.tituloCardProtegido {
    color: #44B67A;
    margin: 0;
}

.subtituloCardProtegido {
    color: #969696;
    font-size: 0.85em;
    font-weight: 500;
    margin: 0;
}

.tituloCardDicas {
    font-weight: 500;
    margin: 0;
}

.listaDicas {
    color: #969696;
    margin: 0;
}

.tituloPequenoPrivacidade {
    font-weight: 500;
    color: #5E5E5E;
    margin: 0;
    margin-bottom: 1.5em;
}

.inputContainer {
    position: relative;
    width: 100%;
}

.inputAdd {
    width: 100%;
    padding: 12px 40px 12px 14px; /* espaço para o olho ficar dentro */
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
    height: 45px; /* garante consistência */
}

.eyeIcon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}