.tituloRelatorio {
    font-size: 1.1em;
    font-weight: 400;
    margin: 0;
    padding: 1em 1.5em;
    color: #fff;
}

.tituloDiv {
    background-color: #9a0526;
}

.linha {
    flex: 1;
    border-right: 1px solid #DBD0CF;
}

.linhaCima {
    flex: 1;
    border-top: 1px solid #DBD0CF;
    padding: 1.8em;
}

.dadosData {
    font-size: 1.1em;
    margin: 1.1em;
    text-align: center;
    font-weight: 500;
}

.dados {
    font-size: 1.1em;
    margin: 0;
}

.subTitulo {
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
    /* padding: 1em; */
}

.margin {
    margin: 0.6em 0em 1.1em 0em;
}

.manutentorNome {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.dataText {
  font-size: 0.8em;
  color: #666;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 18, 18, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}
 
.modal-box {
  background: #fff;
  padding: 2em;
  width: 22em;
  border-radius: 12px;
  text-align: center;
}

.modal-box h3 {
  margin-bottom: 1em;
}

.modal-buttons {
  margin-top: 1.5em;
  display: flex;
  gap: 1em;
  justify-content: center;

}
