body,
html,
:root {
  background: linear-gradient(0deg, rgb(63, 3, 1) 10%, rgba(175, 12, 7, 1) 100%);
  font-family: 'Poppins';
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.containerGeral {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.containerPage {
  box-sizing: border-box;
  background-color: #f0f0f0;
  padding: 3em;
  padding-top: 2em;
  border-top-left-radius: 2.5em;
  flex: 1;
  margin-top: 1.5em;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.containerCards {
  display: flex;
  gap: 2em;
  margin-top: 2em;
  flex-wrap: wrap;
}

.tituloPage {
  font-size: 1.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
}

.tituloCard {
  font-size: 1.3em;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1em;
}

.cardPage {
  padding: 1em;
  border-radius: 10px;
}

.tituloPequenoCard {
  font-weight: 500;
  text-align: center;
  color: #5E5E5E;
  margin: 0;
  margin-bottom: 2em;
}

.tresPontinhos {
  cursor: pointer;
  position: relative;
}

.menuTresPontinhos {
  text-align: center;
  margin: 0;
  font-size: 0.65em;
  background-color: #E9E9E9;
  position: absolute;
  border-radius: 10px;
  padding: 0em 1.4em;
}

.menuTresPontinhos ul {
  padding: 0;
  list-style: none;
}


.menuTresPontinhos li {
  padding: 0;
  cursor: pointer;
}

.inputSelect {
  padding-right: 1em;
  font-family: "poppins";
}

.inputAdd {
  box-sizing: border-box;
  background-color: #E6E6E6;
  border: none;
  padding: 1em 1em;
  border-radius: 8px;
  outline: none;
  font-family: "poppins";

}

.inputAdd::placeholder {
  font-family: 'Poppins';
  color: #9c9c9c;
}

.inputSelect {
  box-sizing: border-box;
  background-color: #E6E6E6;
  border: none;
  flex: 1;
  width: 100%;
  padding: 0;
  outline: none;
}

.inputSelectDiv {
  box-sizing: border-box;
  background-color: #E6E6E6;
  border: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  outline: none;
}

.btn {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: #a50702;
  color: #fff;
  width: 14em;
}

.btnDiv {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  gap: 3em;
}

.erroMsg {
  font-size: 0.9em;
  color: #a50702;
  text-align: left;
}